.wrapper {
  margin: 0;
  padding: 0;
  position: relative;
  height: 100vh;
  overflow: hidden;
  background-image: url("../../assets/gamechanger-John-lewis-pillow-indybest.avif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.wrapper::after {
  content: "";
  width: 100%;
  height: 100vh;
  background-color: rgb(28, 20, 73);
  position: absolute;
  top: 0px;
  left: 0;
  opacity: 0.7;
  z-index: 1;
}

.corner {
  width: 30vw;
  height: 40vh;
  position: absolute;
  border-radius: 50%;
  z-index: 100;
}

.topright {
  top: -100px;
  right: -200px;
  background-color: #33ff57;
  rotate: -20deg;
}

.bottomleft {
  bottom: -100px;
  left: -50px;
  background-color: hsl(251, 100%, 60%);
  rotate: -20deg;
  width: 300px;
  height: 300px;
}

.content {
  background: #dadada;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  position: absolute;
  width: 30rem;
  top: 50%;
  left: 50%;
  padding: 1rem;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  border-radius: 10px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  z-index: 100;
}


label{
  /* margin-bottom: 1rem; */
  font-weight: 600;
  color: rgb(64, 11, 235);
  font-size: 1.2rem;
}

.add-cat-input input{
  width: 100%;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
  padding: 0.6rem;
}

.add-buttons{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.add-buttons button{
  width: 100%;
}

.cancel button{
  background-color: rgb(156, 90, 90);
  color: white;
}

.add button{
  background-color: rgb(55, 32, 185);
  color: white;
}

.cancel{
  margin-right: 1rem;
}

/* Task Component */

.add-cat-input textarea{
  width: 100%;
  resize: none;
  margin-top: 1rem;
}

.create_task{
  text-align: center;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

/* EDIT PAGE COMPONENT */
.edit_wrapper {
  margin: 0;
  padding: 0;
  position: relative;
  height: 100vh;
  overflow: hidden;
  background-image: url("../../assets/edit_category.avif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* EDIT PAGE COMPONENT */
.task_wrapper {
  margin: 0;
  padding: 0;
  position: relative;
  height: 100vh;
  overflow: hidden;
  background-image: url("../../assets/edit_task.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}