.wrapper{
    display: flex;
}

.sidebar{
    flex-basis: 20%;
    transition: all 2s ease;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -ms-transition: all 2s ease;
    -o-transition: all 2s ease;
}
.toogle{
    display: none;
}

.main{
    flex-basis: 80%;
}
.toogle_main{
    flex-basis: 100%;
}